


<div class="help_popup CARBON">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">CARBON</h1>
      <p>Total carbon stored in above- and below-ground biomass and soil. Please note that the resolution of this data is coarse, and the calculated values are to be regarded as indicative.</p>
    </div>
    <div class="bottom">
        <a href="/about#carbon">more</a>
    </div>
</div> 

<div class="help_popup C_SEQ_POT C_SEQ_POTENTIAL">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">CARBON SEQUESTRATION POTENTIAL</h1>
      <p>Maximum amount of additional carbon that could be sequestered by forest ecosystems through restoration of deforested and degraded land.</p>
    </div>
    <div class="bottom">
        <a href="/about#cseq" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup FOREST_STATUS">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">FOREST STATUS</h1>
      <p>Classification of forest by impact from intact forest (lowest impact) to deforested (highest impact).</p>
    </div>
    <div class="bottom">
        <a href="/about#forest_status" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup COVERED_BY_KEY_BIODIVERSITY_AREAS">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">KEY BIODIVERSITY AREAS</h1>
      <p>Globally significant sites for biodiversity conservation.</p>
    </div>
    <div class="bottom">
        <a href="/about#kba" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup COVERED_BY_PROTECTED_AREAS">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">PROTECTED AREAS</h1>
      <p>Protected Areas aiming at long-term conservation.</p>
    </div>
    <div class="bottom">
        <a href="/about#protected_areas" target="_blank">more</a>
    </div>
</div> 


<div class="help_popup FOREST_RESTORATION_POTENTIAL">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">RESTORATION POTENTIAL</h1>
      <p>Potential of the AOI for wide-scale, mosaic, or remote restoration.</p>
    </div>
    <div class="bottom">
        <a href="/about#restoration_potential" target="_blank">more</a>
    </div>
</div> 

<div class="help_popup CONSERVATION_PRIORITIES">
    <div class="top"></div>
    <div class="center">
      <h1 class="name">CONSERVARION PRIORITIES</h1>
      <p>These are results of Ecological Gap Analyses</p>
    </div>
    <div class="bottom">
        <a href="/about#ecologycal" target="_blank">more</a>
    </div>
</div> 
