<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>More about the tool, how to use it and where the data comes from.</h2>
  <p class="subtitle">Carbon Calculator is a joint product of The CBD Secretariat, LifeWeb, and UNEP-WCMC</p>
  
  
  <section class="video">
    <div class="left">
      <h3>How to use the tool</h3>
      <p>Users can choose whether they wish to draw their own Areas of Interest (AOIs), select existing protected areas, or upload their own data. Estimates can also be calculated for mixtures of existing protected areas and self-drawn areas of interest, as well as for separate classes of or individual polygons from uploaded datasets.</p>
      <p><strong>To draw your own Area of Interest (AOI)</strong></p>
      <p>Activate the drawing by clicking on the respective button. Click on the map to mark an area for analysis. Finish by clicking again on your first point. The polygon will be added and the analysis run automatically.</p>
      <p><strong>To select individual Protected Areas</strong></p>
      <p>Select the Protected Areas layer from the basic layers dropdown menu and switch it on. A simple click on the protected area of interest will open a box with its name and a button to add it to the analysis, which will then run automatically.</p>
      <p><strong>To upload your own data</strong></p>
      <p>Click the upload button and follow the instructions from there. Formats supported are Shapefile, KML, CSV and GeoJSON. Shapefiles should be uploaded as a zipped archive.</p>
      <p><strong>Take a look at the video for viewing it in action!</strong></p>
    </div>
    <div class="right">
			
			<img src="/assets/tool-example.png" width="440" height="269" />
      <!-- <iframe src="http://player.vimeo.com/video/32934629?title=0&amp;byline=0&amp;portrait=0" width="440" height="269" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe> -->
    </div>
  </section>
</div>

<section class="results">
  <div class="inner">
    <h3>About the results</h3>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="left">
              <h6><a name="carbon">CARBON</a></h6>
              <p>Terrestrial ecosystems store carbon (C) in their biomass, both above ground and in roots, and in the organic fraction of their soils. The density of carbon in ecosystems varies with vegetation and soil types.</p>
<p>
See data sources for more details.
</p>
              <a class="butt" href="/data#carbon"><span>VIEW DATA SOURCES</span></a>
            </div>
          </td>
          <td>
            <div class="right">
              <h6><a name="protected_areas">PROTECTED AREAS</a></h6>
              <p>Protected areas are defined as terrestrial or marine areas that are recognised, dedicated and managed, through legal or other effective means, to achieve the long-term conservation of nature with associated ecosystem services and cultural values. This includes for example national parks and nature reserves.</p>
<p>
The Carbon and Biodiversity Calculator draws on the information in the World Database on Protected Areas.
</p>
              <a class="butt" href="http://www.protectedplanet.net/" target="_blank"><span>VISIT PROTECTED PLANET</span></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="left">
                <h6><a name="ecologycal">ECOLOGICAL GAP ANALYSIS OF PROTECTED AREAS</a></h6>
              <p>Through their national ecological gap analyses, countries have identified high priority sites (HiPs) to expand or improve their protected area systems and networks. In many cases, the assessment yields spatial data identifying ‘gaps’ in the current protected area system, i.e. areas of importance for biodiversity conservation that are not yet officially recognised as protected areas, or where management can be improved. The Carbon Calculator includes spatial data from ecological gap analyses in Brazil, Ecuador Mexico, and Peru.</p>
              <a  class="butt" href="/data#ecologycal"><span>VIEW DATA SOURCES</span></a>
              <a class="butt" href="http://www.cbd.int/protected-old/gap.shtml" target="_blank"><span>LEARN MORE</span></a>
            </div>
          </td>
          <td>
            <div class="right">
              <h6><a name="forest_status">FOREST STATUS</a></h6>
              <p>This dataset differentiates between intact forest, fragmented/managed forest (where potential closed forest has been converted into open forest), partially deforested areas (where potential forest has been converted into woodland with low tree canopy density) and deforested areas (where potential forest cover of different density has been converted into non-forest). It was derived from a map of potential forest extent using existing ecoregion/ecozone classifications, climate data, and information on current forest distribution.</p>
              <p>This dataset was jointly produced by the World Resources Institute (WRI), the South Dakota State University (SDSU) and the International Union for Conservation of Nature (IUCN) on behalf of the Global Partnership on Forest Landscape Restoration (GPFLR).</p>
              <a class="butt" href="/data#fstat"><span>VIEW DATA SOURCES</span></a>
              <a class="butt" href="https://s3.amazonaws.com/LifeWeb/WRI+final+method.pdf" target="_blank"><span>LEARN MORE</span></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="left">
              <h6><a name="restoration_potential">RESTORATION POTENTIAL</a></h6>
              <p>This is a 1 km2 resolution dataset, showing wider landscapes where forest restoration opportunities are more likely to be found (rather than the location of potential restoration sites). The results are globally consistent, but pertain only to lands deemed capable of supporting forests or woodlands. Some areas of dry and very sparse forest fall outside of these lands but still provide significant needs and opportunities for restoration. The restoration potential of degraded and deforested land has been estimated depending on how densely the land is populated, its degree of urbanization or industrialisation, and on whether it is cropland or not Areas with high population density, or occupied by intensively managed croplands, were considered as having low/no restoration opportunities, while areas with scattered cropland areas, pastures, agroforestry and all types of forest plantations were considered as providing promising opportunities for restoration. The dataset differentiates between:</p>	
						<p><b>Promising opportunities:</b></p>
						<ul>
							<li><p>Remote restoration: Less than one person per km2 within a 500km radius. These areas could be difficult to restore due to their remoteness.</p></li>
							<li><p>Wide-scale restoration: Less than 10 people per km2 and potential to support closed forest.</p></li>
						<li><p>Mosaic restoration: Between 10 and 100 people per km2, in a mosaic landscape with several functions.</p></li>
						</ul>
<p><b>Little / no restoration opportunities:</b></p>
<ul>
	<li><p>Agricultural restoration: Croplands or densely populated rural areas on former forest lands, with over 100 people per km2. They do not offer extensive restoration opportunities in terms of area, but some of these lands would benefit from having trees planted in strategic places to protect and enhance agricultural productivity and other ecosystem functions.</p></li>
</ul>
							
              <p>This dataset was jointly produced by the World Resources Institute (WRI), the South Dakota State University (SDSU) and the International Union for Conservation of Nature (IUCN) on behalf of the Global Partnership on Forest Landscape Restoration (GPFLR)</p>
              <a class="butt" href="/data#restp"><span>VIEW DATA SOURCES</span></a>
              <a class="butt" href="https://s3.amazonaws.com/LifeWeb/WRI+final+method.pdf" target="_blank"><span>LEARN MORE</span></a>
            </div>
          </td>
          <td>
            <div class="right">
              <h6><a name="cseq">CARBON SEQUESTRATION POTENTIAL</a></h6>
              <p>The dataset on carbon sequestration potential provides an estimate of the maximum amount of carbon that could be sequestered through restoration on deforested and degraded lands, if all restoration opportunities were used, all activities were successfully implemented and sufficient time provided. The dataset has been derived by comparing current estimates of carbon stocks with estimates for maximum carbon stocks for forest types by ecofloristic zone. It is important to note that the actual gain in carbon is likely to be lower due to a number of influencing factors, such as the potential impact of climatic conditions, actual time available and the way measures are implemented, which are too complex and manifold to be considered in the assessment.</p>
              <p>This dataset was jointly produced by the World Resources Institute (WRI), the South Dakota State University (SDSU) and the International Union for Conservation of Nature (IUCN) on behalf of the Global Partnership on Forest Landscape Restoration (GPFLR).</p>
              <a class="butt" href="/data#carbon_potential"><span>VIEW DATA SOURCES</span></a>
              <a class="butt" href="https://s3.amazonaws.com/LifeWeb/WRI+final+method.pdf" target="_blank"><span>LEARN MORE</span></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="right">
              <h6><a name="kba">KEY BIODIVERSITY AREAS</a></h6>
              <p>Key Biodiversity Areas are globally significant sites for biodiversity conservation identified using universal standards. They include Important Bird Areas (IBAs), Important Plant Areas (IPAs), Important Sites for Freshwater Biodiversity, Ecologically and Biologically Significant Areas (EBSAs) in the High Seas and Alliance for Zero Extinction (AZE) sites.</p>
              <a class="butt" href="/data#kbas"><span>VIEW DATA SOURCES</span></a>
              <a class="butt" href="http://www.biodiversitya-z.org/areas/22" target="_blank"><span>LEARN MORE</span></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
