<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>BIODIVERSITY PROTECTION &amp; AREAS IMPORTANT FOR BIODIVERSITY</h2>
  <p class="subtitle">How much of my area of interest is covered by protected areas, and which areas identified as important for biodiversity currently lack protection status?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>The Carbon and Biodiversity Calculator can assist with initial assessments some important questions for achieving CBD <a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a>, including identifying areas important for biodiversity. For example, what is the current extent of <a href="/about#protected_areas">protected areas</a> on land and in marine areas? To what extent are <a href="/about#kba">Key Biodiversity Areas</a> or national biodiversity conservation priority areas identified through <a href="/about#ecologycal">Ecological Gap Analyses</a> protected? The Carbon and Biodiversity Calculator contributes to answering these questions both by providing calculations, and through visual map overlays.</p>
			
  <p>Protected areas are a key management approach for conserving habitats, species, and natural processes. Not only do protected areas actively support the conservation and sustainable use of biodiversity elements, they can also contribute to the climate change agenda by supporting ecosystem resilience and protecting carbon stocks. Visualising areas important for biodiversity together with areas that are currently protected can be helpful when thinking about current and potential biodiversity priorities, for example in a country’s NBSAP revision process under the CBD.</p>
	
<p>The Carbon and Biodiversity Calculator contains several data layers which identify priority areas for biodiversity including:
	<ul>
<li>Data on national <a href="/about#protected_areas">protected areas</a> networks reported to the World Database on Protected Areas (WDPA);</li>
<li><a href="/about#kba">Key Biodiversity Areas</a> (KBAs), which are nationally identified sites of global significance for birds, plants, freshwater and threatened species, and other biodiversity values;</li>
<li>National biodiversity conservation priority areas identified through Ecological Gap Analyses (currently available for Brazil, Ecuador, Mexico and Peru), which are an assessment of the extent to which a protected area network meet biodiversity priorities and needs for a nation or region.</li>  
</ul>
</p>	

	
    </div>
		
		<div class="right aichi">
			<h4>Relevance for Convention on Biological Diversity</h4>
			<p><strong>Target 11:</strong>By 2020, at least 17 per cent of terrestrial and inland water areas and 10 per cent of coastal and marine areas, especially areas of particular importance for biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well-connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscape and seascape.
				<a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
