<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>BIODIVERSITY PROTECTION & OPPORTUNITIES</h2>
  <p class="subtitle">To what extent is biodiversity protected within my area of interest and what are the opportunities for increased protection?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>Protected areas are crucial for maintaining key habitats, species, and natural processes across the landscape. Not only do protected areas secure biodiversity conservation and provide livelihoods and human well-being, they can also contribute to the climate change agenda through ecosystem resilience and protection of carbon stocks.   Visualising areas important for biodiversity together with areas that are currently protected can be helpful when thinking about current and potential biodiversity priorities, for example in a country’s NBSAP revision process.</p>
			
  <p>The Carbon and Biodiversity calculator can assist thinking in relation to some important questions for action towards achieving CBD Aichi Target 11, for example, what is the current extent of protected areas on land and in marine areas? To what extent are Key Biodiversity Areas or national biodiversity conservation priorities protected? What areas of importance for biodiversity and ecosystems services not currently protected?</p>
	
<p>The tool contains data on national Protected Area networks reported to the World Database on Protected Areas (WDPA), it also contains  several data layers that identify priority areas for biodiversity.  Key Biodiversity Areas (KBAs) are nationally identified sites of global significance for birds, plants, freshwater and threatened species, and other biodiversity values, compiled by conservation organisations. The KBA dataset is mapped using consistent global criteria and can be useful in an ecological gap analysis of protected areas by comparing protected areas and KBAs in your area of interest.  <a href="http://www.cbd.int/protected-old/gap.shtml" target="_blank">Ecological gap analyses</a> are a requirement under the CBD and are an assessment of the extent to which protected area networks meet biodiversity priorities and needs for a nation or region.  For a limited number of countries, national biodiversity priorities, derived for ecological gap analyses carried out in fulfilment of the CBD requirement, can also be included in the analyses.  </p>	

<p>The Carbon and Biodiversity calculator can be used for visual overlay of protected area coverage and the extent to which this comprises areas important for biodiversity, as defined by Key Biodiversity Areas and national priorities where available.  This process can be useful for understanding, at least at the high level, the extent to which a protected area or network of areas is ecologically representative and where potential gaps and opportunities may occur.  </p>
	
    </div>
		
		<div class="right aichi">
			<p><strong>Target 11:</strong>By 2020, at least 17 per cent of terrestrial and inland water areas and 10 per cent of coastal and marine areas, especially areas of particular importance for biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well-connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscape and seascape.
				<a a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
