<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>CARBON STOCK AMOUNTS AND DISTRIBUTION</h2>
  <p class="subtitle">What is the estimated amount of carbon stock within my area of interest, how is it distributed, and what is the status of the forest in this area?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>Ecosystems store carbon in their biomass and in the organic fraction of their soils. Carbon density and its spatial distribution are both influenced by vegetation and soil types.  Understanding the different carbon stocks, both in terms of density and spatial distribution, is important to identify how much and where biodiversity can contribute to climate change mitigation efforts. </p>
			
  <p>The underlying <a href="/about#carbon">carbon dataset</a> included in the Carbon and Biodiversity Calculator is global in scale. In some places it has been substituted with regional and national datasets, where such data has been available. The analyses enabled by the Carbon and Biodiversity Calculator can help the user gain an initial understanding of where current protection of ecosystems contributes to conservation of carbon stocks, including above ground and below ground biomass and soil organic carbon. The Calculator will provide the numbers, and the accompanying mapping tool will show the spatial distribution of carbon stocks. </p>
	
<p>Whilst the user should regard the numbers given by the Carbon and Biodiversity Calculator as indicative, different user groups will find it helpful to know an estimated total amount of carbon stored in their area, or to be able to compare carbon stocks between areas.</p>

<p>
	For example, such information on carbon stocks may be useful to users concerned with CBD <a href="http://www.cbd.int/sp/targets/rationale/target-5/" target="_blank">Aichi Target 5</a>, as carbon stock calculations can be one factor used in taking decisions on which sites/habitats to give priority to when planning protection or restoration, or other conservation interventions. Similarly, this information may be useful to users concerned with CBD <a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a>, which calls for the enhancement of carbon stocks through the conservation and restoration of ecosystems. 
</p>	

<div class="example-graphic">
<h4>Example Figures</h4>
<p>
<a href="http://carbon-benefits.unepwcmc-005.vm.brightbox.net/tool#w/5BNm/5,0.49437241711933205,-56.6506738281298|0,1,1,1,2,0,3,0,4,0,5,0,6,0" id="carbon-example">View Example Figures</a>
<strong>What is the estimated amount of carbon stocks within my area of interest?</strong>
In this example, the estimated amount of total above ground and below ground biomass and soil carbon is 4,188,563,268 tonnes in the AOI.  There is also the potential to sequester an additional 23,483,083 tonnes of carbon through restoration of degraded forests.
</p>
<p>
By clicking on the question mark next to the value, a short description of the carbon dataset (global or national) used in the analysis will be displayed, along with a link to further information. The tool is intended to be used for exploratory purposes and while the Calculator returns an exact amount, calculations are in most cases based on global data. The results should only be interpreted as indicative as they may not lend themselves to local level interpretation.	
</p>
<p>
When you have defined your area of interest (AOI), you can use the zoom function on the map explore the spatial relationships between the data layers	
</p>
<p  class="example-graphic">
<strong>How are carbon stocks distributed in my areas of interest, and in relation to the surroundings?</strong>
	To answer this question, select the carbon layer only, and look at the colour ramp in the map. Dark areas have higher amounts of carbon.  In this example carbon dense areas are to the north west of the AOI. 
</p>
</div>
    
		<p><a href="/about">Get help with using the tool</a></p>
		</div>
		
		<div class="right aichi">
			<h4>Relevance for Convention on Biological Diversity</h4>
			<p><strong>Aichi Target 5:</strong>By 2020, the rate of loss of all natural habitats, including forests, is at least halved and where feasible brought close to zero, and degradation and fragmentation is significantly reduced.
			<a a href="http://www.cbd.int/sp/targets/rationale/target-5/" target="_blank">Aichi Target 5</a>
			</p>
			<p><strong>Target 15:</strong> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks have been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification.
				<a a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
