<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>CARBON STOCK AMOUNTS AND DISTRIBUTION</h2>
  <p class="subtitle">What is the estimated amount of carbon stock within my area of interest, and how is it distributed?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>Ecosystems store carbon in their biomass and in the organic fraction of their soils. Carbon density and its spatial distribution are both influenced by vegetation and soil types. Understanding the different carbon stocks, both in terms of density and spatial distribution, is important to identify how much and where biodiversity can contribute to climate change mitigation efforts.</p>
			
  <p>The underlyingcarbon datasets included in the Carbon and Biodiversity Calculator are largely global in scale, although some regional and national datasets have been used where
available, and may not lend themselves to local level interpretation in all instances. The tool is intended to be used for exploratory purposes and the calculated values are to be regarded as indicative. Nevertheless, different user groups can be informed about the estimated total amount of carbon in their area and how it is distributed. It can further be helpful for exploring carbon correlation with biodiversity for thinking around for example the achievement of the CBD Aichi Targets. <a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">The Aichi Target 15</a> requires, among other actions, the conservation of carbon stocks. The analyses can help the user gain an initial understanding of where current protection of ecosystems contributes to conservation of carbon stocks including aboveground and below ground biomass and soil organic carbon.</p>
    </div>
		
		<div class="right aichi">
			<p><strong>Target 15:</strong> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks have been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification.
				<a a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
