<% content_for :body_class, 'out' %>

<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li><a href="/about">ABOUT</a></li>
    </ul>
  </header>

  <h2>Estimate the potential contribution of any area in the world to climate change mitigation</h2>
  <p class="subtitle">a joint product of The CBD Secretariat, LifeWeb and UNEP-WCMC</p>
  
  <section class="start">
    <div class="mamufas">
      <a href="/tool" class="start_button"><span>START YOUR QUERY<br/><small>And share your results</small></span></a>
      <a href="#questions" class="questions"><span>EXAMPLE ANALYSIS<br/><small>View examples of what the tool can do</small></span></a>
			
    </div>
  </section>
  
  <section class="two_columns">
    <div class="left">
      <h4>MORE ABOUT THE TOOL</h4>
      <p>The <strong>Carbon Calculator</strong> is an innovative online tool that informs about the potential contribution of any selected area in the world to climate change mitigation by providing initial estimates on the amount of carbon currently stored inside, as well as the amount of additional carbon that could be sequestered through restoration. </p>
      <p>Moreover, it links this information with the conservation value and forest status of the area. </p>
      <p>The tool allows users to draw a line around their area(s) of interest (AOI) around any area in the world, or select any protected area, and provides them with the information on several areas.</p>
      <p class="orange">We advise cautious interpretation of results, as limitations apply to the underlying datasets. The tool is intended for educational and informational purposes only.</p>
    </div>
    <div class="right">
      <h4>WHAT DOES THE TOOL DO?</h4>
      <ul>
        <li>Estimates for carbon stored in above and belowground live biomass and soil.</li>
        <li>Percentage overlap with existing protected areas and Key Biodiversity Areas</li>
        <li>Assessment of the status of forest inside selected areas.</li>
        <li>Estimates for restoration potential inside selected areas.</li>
        <li>Estimates for maximum carbon sequestration potential inside selected areas.</li>
      </ul>
    </div>
  </section>
	
</div>
	
	
<section class="results">
  <div class="inner">
    <h3><a name="questions"> Questions that the tool can answer</a></h3>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="left">
              <h6>CARBON STOCKS</h6>
              <p>What is the estimated amount of carbon stock within my area of interest, how is it distributed, and what is the status of the forest in this area?
</p>
              <a class="butt" href="/carbon"><span>FIND OUT MORE</span></a>
            </div>
          </td>
          <td>
            <div class="right">
              <h6>CARBON SEQUESTRATION &amp; FOREST RESTORATION POTENTIAL</h6>
              <p>What is the status of forest ecosystems and the restoration potential in my area of interest, and what is the maximum amount of carbon that this could sequester?
</p>
              <a class="butt" href="/restoration"><span>FIND OUT MORE</span></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="left">
                <h6>POTENTIAL SYNERGIES BETWEEN CARBON &amp; BIODIVERSITY </h6>
              <p>Are there areas which are important both for biodiversity conservation and carbon storage in my area of interest?</p>
              <a class="butt" href="/spatial"><span>FIND OUT MORE</span></a>
            </div>
          </td>
          <td>
            <div class="right">
              <h6>BIODIVERSITY PROTECTION &amp; AREAS IMPORTANT FOR BIODIVERSITY</h6>
              <p>How much of my area of interest is covered by protected areas, and which areas identified as important for biodiversity currently lack protection status?</p>
              <a class="butt" href="biodiversity"><span>FIND OUT MORE</span></a>
            </div>
          </td>
        </tr>
       
      </tbody>
    </table>
  </div>
</section>
	
<div class="layout">  
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</div>
