<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>CARBON SEQUESTRATION &amp; FOREST RESTORATION POTENTIAL</h2>
  <p class="subtitle">What is the status of forest ecosystems and the restoration potential in my area of interest, and what is the maximum amount of carbon that this could sequester?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>The Carbon and Biodiversity Calculator provides both a visual overview and rough spatial quantification estimates of <a href="/about#forest_status">forest status</a> and <a href="/about#restoration_potential">restoration potential</a>. It includes data that on a global level estimates <a href="/about#forest_status">forest status</a> (intact forest, fragmented or managed forest, partially deforested areas, and deforested areas). <a href="/about#restoration_potential">Forest restoration potential</a> is also calculated for: a) wide-scale restoration (low population density and potential to support closed forest), b) mosaic restoration (moderate population density in a mosaic landscape with several functions), or c) remote restoration (population density less than one person per square kilometre within a 500km radius). Such information is relevant to those concerned with improving ecosystem resilience through appropriate restoration of forest ecosystems, as called for in <a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15.</a></p>
			
  <p>Estimates of <a href="/about#cseq">carbon sequestration potential</a> can also be calculated.  The Calculator determines estimates for maximum carbon sequestration potential through restoration on deforested and degraded land (assuming that all restoration opportunities were used, all activities were successfully implemented and sufficient time provided). While the actual gain in carbon is likely to be lower due to the limitations of reality, these estimate values can be helpful for an initial assessment, and help identify areas suitable for different types of restoration and those that have the potential to have both biodiversity and carbon benefits, as called for under <a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15.</a></p>
	
	<div class="example-graphic">
	<h4>Example Figures</h4>
	<p>
	<a href="http://carbon-benefits.unepwcmc-005.vm.brightbox.net/tool#w/5BNm/5,0.49437241711933205,-56.6506738281298|0,1,1,1,2,0,3,0,4,0,5,0,6,0" id="restoration-example">View Example Figures</a>
	<strong>What is the status of forest ecosystems within my area of interest?</strong>
The Calculator determines the percentage of deforested and partially deforested areas, intact forest areas and forest which is fragmented.  In this example, 1% of the AOI is defined as deforested area.  The user can also visually explore the spatial distribution of the status of forest status in an AOI by selecting the relevant data layer in the map.
	</p>
	<p>
		<strong>What is the restoration potential within my area of interest and how much carbon could be sequestered?</strong>
In this example, the AOI has the estimated potential for 1% mosaic restoration.  The carbon sequestration potential is 23,483,083 tonnes of biomass carbon.  By clicking on the question mark next to the value, a description of the carbon dataset (global or national) used in the analysis will be displayed. The tool is intended to be used for exploratory purposes and while the Calculator returns an exact amount, calculations are is most cases based on global data.  The results should only be interpreted as indicative as they may not be accurate at a local level. 	
	</p>
	<p>
<strong>Where are the restoration opportunities in my area of interest and how can these contribute to climate change mitigation and biodiversity targets?</strong>
In this example, the AOI overlaps with 75 protected areas and 23 KBAs, both of which have potential for mosaic restoration as depicted by the yellow areas. Restoration in these areas could potentially help improve biodiversity, whilst contributing to climate change targets through increased carbon sequestration. 
	</p>

	</div>
    
			<p><a href="/about">Get help with using the tool</a></p>

    </div>
		
		<div class="right aichi">
			<h4>Relevance for Convention on Biological Diversity</h4>
<p><strong>Target 15:</strong> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks have been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification.
<a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a></p>
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
