<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>RESTORATION OPPORTUNITIES</h2>
  <p class="subtitle">What are the existing spatial relationships between carbon and biodiversity and what are the potential opportunities for synergy in my area of interest?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>Terrestrial ecosystems such as forests provide multiple services and functions. In addition to containing large amounts of carbon, natural forests often contain high levels of biodiversity and provide essential ecosystem services, and the type and extent of services vary with location. Being able to quickly identify and visualize key areas for both carbon stocks and biodiversity, and how they overlap can improve the understanding of many different user groups of existing spatial relationships between these important ecosystem functions, and identify areas that could provide both carbon and biodiversity benefits.</p>
			
  <p>The Carbon and Biodiversity Calculator can help users to explore existing spatial relationships between carbon and biodiversity datasets, and potential opportunities for future enhancement of synergies around several priorities including climate change mitigation and adaptation measures as well as biodiversity commitments. It can help identify areas of high carbon value which are not covered by the current protected areas network on a global and regional level. This provides a way to identify areas that are not just high in carbon, but also have high biodiversity value, increasing the scope for delivering ‘multiple benefits’ from climate mitigation, which can be helpful in the achievement of the CBD Aichi Targets.</p>
	
	<p>
		These simple spatial analyses can help the user explore gaps in what is conserved in terms of high carbon density areas or areas where forest is degraded, which is helpful for Aichi Target 15. Similarly, gaps in protection of areas recognised as globally or nationally important for biodiversity can also be explored. These analyses can therefore begin to inform understanding around opportunities to include carbon and biodiversity rich areas in options for protected area network expansion in line with the CBD intentions under Aichi Targets 11.
	</p>
    </div>
		
		<div class="right aichi">
			<p><strong>Aichi Target 11:</strong> By 2020, at least 17 per cent of terrestrial and inland water areas and 10 per cent of coastal and marine areas, especially areas of particular importance for
biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well-connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscape and seascape.
<a a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a></p>
<p><strong>Target 15:</strong> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks have been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification.
<a a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a></p>
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
