<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>MAPPING CARBON & BIODIVERSITY FOR BETTER PLANNING</h2>
  <p class="subtitle">What restoration opportunities are within my area of interest, and how could these opportunities enhance biodiversity contribution to climate change mitigation?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>The Carbon and Biodiversity Calculator includes information that estimates forest status (intact forest, fragmented or managed forest, partially deforested areas, and deforested areas) within the user’s area of interest.  Forest restoration opportunities are also calculated for their potential to be a) wide-scale restoration (low population density and potential to support closed forest), b) mosaic restoration (moderate population density in a mosaic landscape with several functions), or c) remote restoration (population density less than one person per square kilometre within a 500km radius). This information could be useful for helping to inform decisions around opportunities to enhance ecosystem resilience through appropriate restoration of forest ecosystems. </p>
			
  <p>Users can consider how opportunities for forest restoration could contribute to climate change mitigation, as well as adaptation, by investigating the actual and potential carbon stock value of an area of interest.  Users can determine estimates for maximum carbon sequestration through restoration on deforested and degraded land if all restoration opportunities were used, all activities were successfully implemented and sufficient time provided.  The actual gain in carbon is likely to be lower due to a number of factors, nonetheless initial analyses can be helpful for achieving CBD Aichi Targets.</p>
	
<p>The Carbon and Biodiversity Calculator provides a visual overview and rough estimates of forest status and restoration and carbon sequestration potential which can be helpful for example in the achievement of the CBD <a a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a>, which requires restoration of at least 15% of degraded ecosystems.</p>	

<p>These initial analyses can assist users to consider some important questions for informing restoration activities.  For example,  in thinking about what habitats are degraded, the analyses can help identify areas of importance for biodiversity that could be restored (i.e. what is protected and what is not currently protected?); and important areas for carbon sequestration; and what types of restoration could be possible.  The user can therefore explore spatially opportunities that could produce both biodiversity and carbon benefits.  </p>
	
    </div>
		
		<div class="right aichi">
			<p><strong>Target 15:</strong> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks have been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification.
				<a a href="http://www.cbd.int/sp/targets/rationale/target-15/" target="_blank">Aichi Target 15</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
