<% content_for :body_class, 'out' %>
<div class="layout">
  <header>
    <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
    <ul>
      <li><a href="/tool">TOOL</a></li>
      <li class="selected"><a href="/about">ABOUT</a></li>
    </ul>
  </header>
  
  <h2>POTENTIAL SYNERGIES BETWEEN CARBON & BIODIVERSITY </h2>
  <p class="subtitle">Are there areas which are important both for biodiversity conservation and carbon storage in my area of interest?</p>
  
  
  <section class="two_columns">
    <div class="left">
      <p>Ecosystems such as forests provide multiple services and functions. In addition to containing large amounts of carbon, natural forests are often biodiversity rich and provide important ecosystem services that bring both local and global benefits. The type and extent of biodiversity and ecosystem services vary with location and it can be useful to consider how these important ecosystem functions relate spatially.  This information could be helpful for users considering where climate change mitigation and biodiversity conservation priorities can be addressed in coordination.</p>
			
  <p>The Carbon and Biodiversity Calculator include map layers of <a href="/about#carbon">carbon</a>, <a href="/about#kba">Key Biodiversity Areas</a>, <a href="about#protected_areas">protected areas</a>, <a href="/about#ecologycal">ecological gap analyses</a> (for a few countries), <a href="/about#forest_status">forest status</a>, <a href="/about#cseq">carbon sequestration potential</a> and <a href="/about#restoration_potential">forest restoration potential</a>. From this data, the Carbon and Biodiversity Calculator performs simple spatial analyses which can help the user explore synergies for, and gaps in, protection of high carbon density areas and/or biodiversity rich areas.</p>
	
<p>Such basic analyses can be helpful for users concerned with CBD <a a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a> which seeks to increase coverage of protected areas especially in areas of particular importance for biodiversity and ecosystem services. Similarly, they can provide information to users who wish to consider what areas might be particularly important to protect from degradation of natural habitat, in line with the CBD intentions under <a a href="http://www.cbd.int/sp/targets/rationale/target-5/" target="_blank">Aichi Target 5.</a></p>	

<div class="example-graphic">
<h4>Example Figures</h4>
<p>
<a href="http://carbon-benefits.unepwcmc-005.vm.brightbox.net/tool#w/5BNm/5,0.49437241711933205,-56.6506738281298|0,1,1,1,2,0,3,0,4,0,5,0,6,0" id="spatial-example">View Example Figures</a>
<strong>Are there areas which are important both for biodiversity conservation and carbon storage in my area of interest?</strong>
In this example, the protected areas and the Key Biodiversity Areas (KBAs) layer are overlaid on top of the carbon map.  Calculations show that the AOI overlaps 23 KBAs, which account for 22% of the area and 75 protected areas accounting for 18% of the area.  The map shows that a large portion of the KBAs are already protected in the south and the central to north-east regions of the AOI.  Both the protected areas and the KBAs include some areas of higher carbon stocks.  <i>Please note that where available, national biodiversity priority data can be included in the analyses by enabling the Ecological Gap Analysis data layer.</i>
</p>
<p>
You can use the map to visually explore KBAs and areas high in carbon which are not currently protected. In this example, the sections of the KBA in the north-east region of the AOI that fall outside the protected area also contain higher carbon values than surrounding areas. This is a potential opportunity to conserve additional area important for carbon stocks and biodiversity.	
</p>
<p>
The tool is intended to be used for exploratory purposes and while the Calculator returns exact values for carbon, calculations are is most cases based on global data.  The results should only be cautiously interpreted as indicative as they may not lend themselves to local level interpretation in all instances.
</p>

</div>
    
		<p><a href="/about">Get help with using the tool</a></p>
	
    </div>
		
		<div class="right aichi">
			<h4>Relevance for Convention on Biological Diversity</h4>
			<p><strong>Aichi Target 5:</strong> By 2020, the rate of loss of all natural habitats, including forests, is at least halved and where feasible brought close to zero, and degradation and fragmentation is significantly reduced.
				<a a href="http://www.cbd.int/sp/targets/rationale/target-5/" target="_blank">Aichi Target 5</a>
			</p>
			
			<p><strong>Aichi Target 11:</strong>By 2020, at least 17 per cent of terrestrial and inland water areas and 10 per cent of coastal and marine areas, especially areas of particular importance for biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well-connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscape and seascape.
							<a a href="http://www.cbd.int/sp/targets/rationale/target-11/" target="_blank">Aichi Target 11</a>
			</p>
			
		</div>	
  </section>
</div>


<div class="layout">  
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>  
