<div class="inner">
    <h1>File uploaded</h1>
    <div id='upload-form'>
      <p>We support layer uploads in SHP and KML</p>
        <p>
        </p>
      <p id="status"></p>
    </div>
    <button class="close"><span class="button_info">Cancel</span></button>
    <button class="submit"><span class="button_info">Upload</span></button>
</div> <!-- inner -->
