<div class="no_content">
  <div class="inner">
    <span class="title">
      <h2>DRAW YOUR FIRST POLYGON</h2>
    </span>
    <p>Start this AOI with a polygon. Click here is you want to start drawing your first polygon or select a Protected Area in the map</p>
    <p><a href="#start_polygon" class="start_drawing action_button"><span>DRAW POLYGON</span></a></p>
  </div>
  <div class="inner">
    <span class="title">
      <h2>UPLOAD A LAYER</h2>
    </span>
    <p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo consequat.</p>
    <p><a href="#upload_layer" class="start_uploading action_button"><span data-layer-id=<%= id %>>UPLOAD LAYER</span></a></p>
  </div>
  <span class="end"></span>
  <span style="display:none" class="loader"></span>
</div>
