<div class="no_content">
  <div class="inner">
    <span class="title">
      <h2>DRAW YOUR FIRST POLYGON</h2>
    </span>
    <p>
      Click “Draw polygon” below to activate.<br />
      Then click on the map to create the first point in your polygon. Further clicks on the map will create the outline of your area for analysis. Close the polygon by clicking again on your first point. The calculations will run automatically.
    </p>
    <p><a href="#start_polygon" class="start_drawing action_button"><span>DRAW POLYGON</span></a></p>
  </div>
  <div class="inner">
    <span class="title">
      <h2>UPLOAD A LAYER</h2>
    </span>
    <p>
      Click below to start uploading your files.<br />
      Formats supported are <a href="https://en.wikipedia.org/wiki/Shapefile" target="_blank">Shapefile</a>, <a href="http://en.wikipedia.org/wiki/Keyhole_Markup_Language" target="_blank">KML</a>, <a href="http://en.wikipedia.org/wiki/Comma-separated_values" target="_blank">CSV</a> and <a href="http://en.wikipedia.org/wiki/GeoJSON" target="_blank">GeoJSON</a>. Shapefiles should contain all the mandatory files (.shp, .shx, .dbf).
</br>
Please note that this function is not available on Microsoft Internet Explorer.
    </p>
    <p><a href="#upload_layer" class="start_uploading action_button"><span data-layer-id=<%= id %>>UPLOAD LAYER</span></a></p>
  </div>
  <span class="end"></span>
  <span style="display:none" class="loader"></span>
</div>
