<div class="no_content">
  <div class="inner">
    <span class="title">
      <h2>DRAW YOUR FIRST POLYGON</h2>
    </span>
    <p>
      Click below to activate. Then click on the map to mark an area for analysis. Finish by clicking again on your first point.
      The polygon will be added and the analysis run automatically.
    </p>
    <p><a href="#start_polygon" class="start_drawing action_button"><span>DRAW POLYGON</span></a></p>
  </div>
  <div class="inner">
    <span class="title">
      <h2>UPLOAD A LAYER</h2>
    </span>
    <p>
      Click below to start. Formats supported are Shapefile, KML, CSV and GeoJSON. Shapefiles should be uploaded as a zipped archive.
    </p>
    <p><a href="#upload_layer" class="start_uploading action_button"><span data-layer-id=<%= id %>>UPLOAD LAYER</span></a></p>
  </div>
  <span class="end"></span>
  <span style="display:none" class="loader"></span>
</div>
