<div class="no_content">
  <div class="inner">
    <span class="title">
      <h2>DRAW YOUR FIRST POLYGON</h2>
    </span>
    <p>Start this AOI with a polygon. Click here is you want to start drawing your first polygon or select a Protected Area in the map</p>
    <p><a href="#start_polygon" class="start_drawing"><span>DRAW POLYGON</span></a></p>
  </div>
  <span class="end"></span>
  <span style="display:none" class="loader"></span>
</div>
